In [2]:
# libraries
from google.colab import files
import pandas as pd
import sys
import numpy as np

In [ ]:
# upload file
files.upload()

In [56]:
# read data
df = pd.read_excel('TEMUAN_WPK.xls')

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [57]:
df.head()

,R101,R102,R103,R104,R105,nks,nurt,r401,r402,r403,...,r407,r601,r1501a,r1501b,r1502a,r1502b,r1503,KETERANGAN,catatan,statdokk
0,51,4,60,3,2,20062,6,1,I MADE ARTA,1,...,55.0,0.0,NaN,NaN,NaN,NaN,NaN,,ART 3 ANAK ANGKAT. RUTA INI MENDAPATKAN BLT (C...,E
1,51,4,60,3,2,20062,6,2,NI MADE ASTINI,2,...,47.0,0.0,5.0,NaN,NaN,NaN,NaN,Mempunyai anak kandung tetapi tidak pernah hamil?,ART 3 ANAK ANGKAT. RUTA INI MENDAPATKAN BLT (C...,E
2,51,4,60,3,2,20062,6,3,I GEDE DENA BUDIARTA,4,...,1.0,2.0,NaN,NaN,NaN,NaN,NaN,,ART 3 ANAK ANGKAT. RUTA INI MENDAPATKAN BLT (C...,E
3,51,4,60,7,1,26120,1,1,I KADEK SUBAGA,1,...,40.0,0.0,NaN,NaN,NaN,NaN,NaN,,SELAIN MEMELIHARA SAPI KRT JUGA MENANAM JERUK ...,E
4,51,4,60,7,1,26120,1,2,NI KETUT TINI,2,...,40.0,0.0,5.0,23.0,1.0,24.0,2.0,Mempunyai anak kandung tetapi tidak pernah hamil?,SELAIN MEMELIHARA SAPI KRT JUGA MENANAM JERUK ...,E

In [ ]:
# sum temuan
print(df.TEMUAN.value_counts())

In [ ]:
# sum kab
print(df.R102.value_counts())

2     252
1     248
7     196
4     154
5      73
71      4
Name: R102, dtype: int64

In [58]:
# sum by group
df_count = df.groupby(['R102', 'KETERANGAN'])['R102'].count()
print(df_count)

R102  KETERANGAN
4                                                                                                             135
      Cek selisih R407 (umur) dari anak tertua vs umur hamil pertama ibu kandungnya (R1501B)                   11
      Cek selisih R407 (umur) dari anak tertua vs umur lahir pertama ibu kandungnya (R1502B)                   17
      Mempunyai anak kandung berumur < 2 tahun, tetapi melahirkan anak lahir hidup terakhir > 2 tahun yang      3
      Mempunyai anak kandung tetapi tidak pernah hamil?                                                         2
6                                                                                                             152
      Cek selisih R407 (umur) dari anak tertua vs umur hamil pertama ibu kandungnya (R1501B)                   14
      Cek selisih R407 (umur) dari anak tertua vs umur lahir pertama ibu kandungnya (R1502B)                   28
      Mempunyai anak kandung berumur < 2 tahun, tetapi melahirkan anak lahir hidup terakhir > 2 tahun yang      1
71                                                                                                            109
      Cek selisih R407 (umur) dari anak tertua vs umur hamil pertama ibu kandungnya (R1501B)                   10
      Cek selisih R407 (umur) dari anak tertua vs umur lahir pertama ibu kandungnya (R1502B)                   16
Name: R102, dtype: int64

In [ ]:
type(df_count)

pandas.core.series.Series

In [59]:
# print pandas df without truncation
df_count = df_count.to_string()

In [ ]:
# convert series to string
#df_count = str(df_count)

In [60]:
# write to txt in case of truncation
with open("output40.txt", "w") as f_out:
    f_out.write((df_count))

In [ ]:
import turtle

In [ ]:
star = turtle.Turtle()

for i in range(8):
    star.right(135)
    star.forward(200)

turtle.done()